.container4 {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem; 
    margin: 2rem; 
    text-align: center;
    width: 40rem;
    margin-inline: auto;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.h1-menu {
    font-family: fantasy;
    margin: 4rem;
}

.class-p {
    margin-inline: 7rem;
}